---
---

@import "{{ site.theme }}";

.inner {
  max-width: 75%;
}

.chart-content {
    width: 1440px;
}

#main-content {
   padding-top: 20px;
}

.main-content {
    max-width: 95rem;
}

svg.mpld3-figure {
  margin-left: -8rem;
}
